#background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

#landing-content-div {
  margin-top: 220px;
}

#login-button-div {
  margin: 20px;
}

.header {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 70px;
}